<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:h2:mem:testdb;DB_CLOSE_DELAY=0</property>
        <property name="hibernate.dialect">org.hibernate.dialect.H2Dialect</property>
        <property name="show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <mapping class="ir.maktab.model.Comment"/>
        <mapping class="ir.maktab.model.Offer"/>
        <mapping class="ir.maktab.model.Order"/>
        <mapping class="ir.maktab.model.Service"/>
        <mapping class="ir.maktab.model.UnderService"/>
        <mapping class="ir.maktab.model.User"/>

    </session-factory>
</hibernate-configuration>